<app-header>
    <div style="display: flex; gap: 25px;">
        <ng-container *ngIf="userName; else login">
            <div style="font-style: 14px; font-weight: 600; display: flex;
            align-items: center;">{{ userName }}</div>
            <app-button buttonText="logout"></app-button>
        </ng-container>
        <ng-template #login>
            <app-button buttonText="login"></app-button>
        </ng-template>
    </div>
</app-header>
<app-courses></app-courses>
<app-info>
    <app-button buttonText="add new course"></app-button>
</app-info>
