<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
    <form class="registration-form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div>
            <div class="form__control">
                <label for="name">Name</label>
                <input type="text" id="name" placeholder="Input text" formControlName="name" />
                <div *ngIf="name?.invalid && (name?.touched || name?.dirty)" class="error-text">
                    <div *ngIf="name?.hasError('required')">Name is required.</div>
                    <div *ngIf="name?.hasError('minlength')">Name should have over 6 symbols.</div>
                </div>
            </div>
            <div class="form__control">
                <label for="email">Email</label>
                <input type="text" id="email" placeholder="Input text" formControlName="email" appEmailValidator />
                <div *ngIf="email?.invalid && (email?.touched || email?.dirty)" class="error-text">
                    <div *ngIf="email?.hasError('required')">Email is required.</div>
                    <div *ngIf="email?.hasError('invalidEmail')">Email is invalid.</div>
                </div>
            </div>
            <div class="form__control">
                <label for="password">Password</label>
                <input
                    type="password"
                    id="password"
                    placeholder="Input text"
                    formControlName="password"
                    appPasswordToggler
                    #passwordToggler="passwordToggler"
                />
                <div class="form__password-icon" (click)="toggleIcon()" (click)="passwordToggler.toggle()">
                    <fa-icon [icon]="iconName"></fa-icon>
                </div>
                <div *ngIf="password?.invalid && (password?.touched || password?.dirty)" class="error-text">
                    <div *ngIf="password?.hasError('required')">Password is required.</div>
                </div>
            </div>
        </div>
        <div class="form__action">
            <app-button buttonText="Login"></app-button>
        </div>
        <div class="form__text">
            If you have an account you may <strong routerLink="/login" class="clickable-text">Login</strong>
        </div>
    </form>
</div>
