@import 'src/app/shared/styles/styles.scss';

.app-plate {
    box-sizing: border-box;
    margin: 0 auto;
}

.login-form {
    width: 260px;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
