<h2 class="text-align-center">Login</h2>
<div class="app-plate">
    <form #loginForm="ngForm" class="login-form" (ngSubmit)="onSubmit(loginForm.value)">
        <div>
            <div class="form__control">
                <label for="email">Email</label>
                <input
                    type="text"
                    id="email"
                    name="email"
                    placeholder="Input text"
                    required
                    appEmailValidator
                    ngModel
                    #email="ngModel"
                    [ngClass]="loginForm.submitted ? 'ng-touched' : null"
                />
                <div
                    *ngIf="loginForm.submitted || (email.invalid && (email.dirty || email.touched))"
                    class="error-text"
                >
                    <div *ngIf="email.errors?.['required']">Email is required.</div>
                    <div *ngIf="email.errors?.['invalidEmail']">Email is invalid.</div>
                </div>
            </div>

            <div class="form__control">
                <label for="password">Password</label>
                <input
                    #password="ngModel"
                    type="password"
                    id="password"
                    name="password"
                    required
                    placeholder="Input text"
                    ngModel
                    [ngClass]="loginForm.submitted ? 'ng-touched' : null"
                    appPasswordToggler
                    #passwordToggler="passwordToggler"
                />
                <div class="form__password-icon" (click)="toggleIcon()" (click)="passwordToggler.toggle()">
                    <fa-icon [icon]="iconName"></fa-icon>
                </div>

                <div
                    *ngIf="loginForm.submitted || (password.invalid && (password.dirty || password.touched))"
                    class="error-text"
                >
                    <div *ngIf="password.errors?.['required']">Password is required.</div>
                </div>
            </div>
        </div>
        <div>
            <div class="form__action">
                <app-button buttonText="Login" type="submit"></app-button>
            </div>
            <div class="form__text">
                If you don't have an account you may
                <strong  routerLink="../registration" class="clickable-text">Registration</strong>
            </div>
        </div>
    </form>
</div>
