@import 'src/app/shared/styles/styles';

.course {
    min-width: 60vw;

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        & app-button {
            margin-left: 16px;
            flex: 0 0 185px;
        }

        & .course__duration {
            margin-left: 16px;

            &-input {
                flex: 1;
            }
        }
    }

    &__authors {
        margin-top: 8px;
        display: flex;

        &-item {
            margin-right: 10px;
        }
    }

    &__icon {
        margin-left: 4px;
        cursor: pointer;
    }
}

.form {
    &__actions {
        display: flex;
        justify-content: flex-end;
    }

    &__btn {
        &:not(:first-child) {
            margin-left: 14px;
        }
    }
}
